/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font */
body {
  font-family: "Lato", sans-serif;
}

/* Contenitore generale */
.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009688 0px,
    #009688 20vh,
    #d2dbdc 15vh,
    #d2dbdc 100%
  );
}

/* Contenitore sidebar e content */
.container {
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
}

/* Sidebar sinistra */
.sidebar {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

/* Contenuto principale destra */
.content {
  width: 65%;
  height: 100%;
  background: #aaa;
  display: flex;
  flex-direction: column;
}

/* avatar sidebar */
.sidebar-header {
  height: 70px;
  padding: 10px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid lightgrey;
}

/* immagine di profilo */
.sidebar-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Icone avatar  */
.icon-sx i {
  color: #b1b1b1;
  font-size: 20px;
  margin-right: 20px;
}

/* sezione disattivazione notifiche */
.notification {
  height: 70px;
  width: 100%;
  background-color: #8edafd;
  display: flex;
  align-items: center;
  padding: 12px;
}

/* icone notifiche */
.notification i {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  color:#8edafd;
  margin-right: 7px;
}

/* testo sezione notifiche grigio*/
.text-side h6 {
  text-decoration: underline;
  color: grey;
  font-size: 12px;
  font-weight: 200;
}

/* Sezione ricerca contatti */
.search {
  height: 50px;
  width: 100%;
  padding: 8px;
  display: flex;
  background-color: #fafafa;
  align-items: center;
 }

 /* lente interna barra di ricerca */
.lens {
  background-color: white;
  height: 35px;
  width: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* input ricerca contatti */
.input-part {
  background-color: white;
  height: 35px;
  width: 85%;
}

/* input effettivo */
.input-part input {
  height: 35px;
  width: 100%;
  padding: 5px;
  border: none;
}

/* plaeholder input */
.input-part input::placeholder{
  font-size: 10px;
}

/* icona lente colore */
.lens i {
  color: lightgrey;
}

/* lista contatti */
.profile {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  }

  /* immagini profilo contatti */
  .profile  img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

/* testo contatti */
.text-profile h5 {
  font-weight: 600;
  padding-bottom: 5px;
}

/* anteprima messaggio contatti */
.text-profile h6 {
  font-weight: 400;
  color: grey;
}

/* stile interno contatti */
.settings {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 12px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

/* nome contatti */
.name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Flex grow scritte interne contatto */
.text-profile{
  flex-grow: 1;
}

/* classe active che seleziona contatto */
.active {
  background-color: #f0ebebf1;
}

/* header della chat */
.content-header {
  height: 70px;
  padding: 10px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* immagine profile header chat */
.content-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* set icone chat */
.icon-dx i {
  color: #b1b1b1;
  font-size: 20px;
  margin-right: 20px;
}

/* nome profile nell'header */
.profile-text h5 {
  font-weight: 600;
}

/* testo ultimo accesso */
.profile-text h6 {
    color: grey;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    margin-top: 5px;
}

/* stile selettore contatti */
.settings:hover{
  background-color:  #f0ebebf1;
  cursor: pointer;
}

/* Contenuto principale chat con sfondo */
.content-main {
  width: 100%;
  flex-grow: 1;
  background-image: url("../img/mine.jpg");
  padding: 20px 70px;
  overflow: auto;
}

/* Footer della chat principale */
.content-footer {
  width: 100%;
  background-color: #f3eeeb;
  display: flex;
  align-items: center;
  padding: 8px 0;
  justify-content: space-between;
}

/* Classe che rende display flex chat */
.first{
  display: flex;
  align-items: center;

  /* img chat selezionata header*/
}
.first img {
  margin-right:20px;
}

/* campo inserimento messaggio */
.message {
  flex-grow: 1;
}

/* campo input del messaggio */
.message input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

/* tasto emoticon */
.smile {
  padding:5px 25px;
}

/* setting classe input vocale */
.vocal {
  padding: 5px 25px;
}

/* icona microfono */
.vocal i {
color: #6c7376;
cursor: pointer;
}

/* icona emoticon */
.smile i {
  color: #6c7376;
}

/* campo messaggi */
.message-text{
  list-style: none;
}

/* setting dei messaggi interni */
.chat {
  padding: 0;
  margin: 0;
  list-style: none;
}

.message-bubble {
  display: flex;
  margin-bottom: 20px;
}

.message-bubble.received {
  justify-content: flex-start;
}

.message-bubble.send {
  justify-content: flex-end;
}

/* bubble style ricevuti */
.message-bubble .style {
  position: relative;
  min-width: 100px;
  max-width: 400px;
  min-height: 50px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 60px 5px 10px;
  word-wrap: break-word;
}

/* colore inviati */
.message-bubble.send .style {
 background-color: #d5faba;
}

/* time stamp messaggi ricevuti */
.style h6 {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #b7b9bb;
  
}

/* time stamp messaggi inviati */
.style h6 {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #b7b9bb;
}

/* template da clonare per jQuery */
.template {
  display: none;
}