/* General Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font */

body {
  font-family: "Lato", sans-serif;
}

/* Contenitore generale */

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009688 0px,
    #009688 20vh,
    #d2dbdc 15vh,
    #d2dbdc 100%
  );
}

/* Contenitore sidebar e content */

.container {
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
}

/* Sidebar sinistra */

.sidebar {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

/* Contenuto principale destra */

.content {
  width: 65%;
  height: 100%;
  background: #aaa;
  display: flex;
  flex-direction: column;
}

/* avatar sidebar */

.sidebar-header {
  height: 70px;
  padding: 10px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.sidebar-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



.icon-sx i {
  color: #b1b1b1;
  font-size: 20px;
  margin-right: 20px;
}



.notification {
  height: 70px;
  width: 100%;
  background-color: #8edafd;
  display: flex;
  align-items: center;
  padding: 12px;
}



.notification i {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  color:#8edafd;
  margin-right: 7px;
}



.text-side h6 {
  text-decoration: underline;
  color: grey;
  font-size: 12px;
  font-weight: 200;
}

.search {
  height: 50px;
  width: 100%;
  padding: 8px;
  display: flex;
  background-color: #fafafa;
  align-items: center;
 
}

.lens {
  background-color: white;
  height: 35px;
  width: 15%;
  align-items: center;
  justify-content: center;
  display: flex;
  
  
}

.input-part {
  background-color: white;
  height: 35px;
  width: 85%;
  
}

.input-part input {
  height: 35px;
  width: 100%;
  padding: 5px;
  border: none;
}

.input-part input::placeholder{
  font-size: 10px;
}

.lens i {
  color: lightgrey;
}

.profile {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  }

  .profile  img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}


.text-profile h5 {
  font-weight: 600;
  padding-bottom: 5px;
}

.text-profile h6 {
  font-weight: 400;
  color: grey;
}


.settings {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 12px;
  background-color: white;
}

.name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

/* Flex grow fa si che l'immagine prenda tutto contenuto */

.text-profile{
  flex-grow: 1;
}

.active {
  background-color: #f0ebebf1;
}

.content-header {
  height: 70px;
  padding: 10px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon-dx i {
  color: #b1b1b1;
  font-size: 20px;
  margin-right: 20px;
}

.profile-text h5 {
  font-weight: 600;
}

.profile-text h6 {
    text-decoration: underline;
    color: grey;
    font-size: 12px;
    font-weight: 200;
    text-decoration: none;
    margin-top: 5px;
}

.settings:hover{
  background-color:  #f0ebebf1;
  cursor: pointer;
}

.content-main {
  width: 100%;
  flex-grow: 1;
  background-image: url("../img/mine.jpg");
  padding: 20px 70px;
  overflow: auto;
}


.content-footer {
  width: 100%;
  background-color: #f3eeeb;
  display: flex;
  align-items: center;
  padding: 8px 0;
  justify-content: space-between;

}

.first{
  display: flex;
  align-items: center;
  
}
.first img {
  margin-right:20px;
}


.message {
  flex-grow: 1;
}

.message input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  
}

.smile {
  padding:5px 25px;
}

.vocal {
  padding: 5px 25px;
}

.vocal i {
color: #6c7376;
cursor: pointer;
}

.smile i {
  color: #6c7376;
}

.message-text{
  list-style: none;
}

.chat {
  padding: 0;
  margin: 0;
  list-style: none;
}

.send {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.receive {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.style-send {
  position: relative;
  min-width: 100px;
  min-height: 50px;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 60px 5px 10px;
  padding-bottom: 10px;
  background-color: #d5faba;
  word-wrap: break-word;
}
.style-receive {
  position: relative;
  min-width: 100px;
  max-width: 400px;
  min-height: 50px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 60px 5px 10px;
  padding-bottom: 10px;
  background-color: white;
  word-wrap: break-word;
}

.style-receive h6 {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #b7b9bb;
  
}

.style-send h6 {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #b7b9bb;
}


.template {
  display: none;
}